 body{
     text-align: center;
 }
 .logo{
background-image: url(../images/image.jpg);
height: 600px;
}
.logo{
    text-align: center;
}
.about{
    text-align: center;
}
.services{
    background-image: url(../images/s_image.jpg);
    text-align: center;
    color: wheat;
    height: 200px;
}
.what{
    padding: 0px 0px 0px 200px;
}
.contact{
    background-image: url(../images/c_image.jpg);
    height: 600px;
}
.form{
    margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
.icons{
    float: right;
    padding: 10px 350px 0px 0px;
}
.copyright{
    justify-content: flex-end;
}